<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="DBConnectionString"
            connectionString="server=211.189.143.203;User Id=healthcare;password=!healthcare;Persist Security Info=True;database=healthcare"
            providerName="MySql.Data.MySqlClient" />-->
			<!--<add name="DBConnectionString"
            connectionString="server=192.169.10.10;port=3306;uid=healthcare;pwd=!healthcare;Persist Security Info=True;database=healthcare"
            providerName="MySql.Data.MySqlClient" />-->
			<add name="DBConnectionString"
            connectionString="server=localhost;port=3306;uid=root;pwd=P@ssw0rd;Persist Security Info=True;database=healthcare"
            providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>